<Mappers>
    <Mapper>
        <order>1</order>
        <name>Two Sum</name>
        <class>easy.TwoSum</class>
    </Mapper>
    <Mapper>
        <order>2</order>
        <name>Add Two Numbers</name>
        <class>medium.AddTwoNumbers</class>
    </Mapper>
    <Mapper>
        <order>3</order>
        <name>Longest Substring Without Repeating Characters</name>
        <class>medium.LongestSubstring</class>
    </Mapper>
    <Mapper>
        <order>4</order>
        <name>Median of Two Sorted Arrays</name>
        <class>hard.MedianTwoSortedArrays</class>
    </Mapper>
    <Mapper>
        <order>5</order>
        <name>Longest Palindromic Substring</name>
        <class>medium.LongestPalSubString</class>
    </Mapper>
    <Mapper>
        <order>6</order>
        <name>ZigZag Conversion</name>
        <class>medium.ZigZagConversion</class>
    </Mapper>
    <Mapper>
        <order>7</order>
        <name>Reverse Integer</name>
        <class>easy.ReverseInteger</class>
    </Mapper>
    <Mapper>
        <order>8</order>
        <name>String to Integer (atoi)</name>
        <class>medium.StringConverInteger</class>
    </Mapper>
    <Mapper>
        <order>9</order>
        <name>Palindrome Number</name>
        <class>easy.PalindromeNumber</class>
    </Mapper>
    <Mapper>
        <order>10</order>
        <name>Regular Expression Matching</name>
        <class>hard.RegularExpressionMatch</class>
    </Mapper>
    <Mapper>
        <order>11</order>
        <name>Container With Most Water</name>
        <class>medium.ContainerWithMostWater</class>
    </Mapper>
    <Mapper>
        <order>12</order>
        <name>Integer to Roman</name>
        <class>medium.IntegerToRoman</class>
    </Mapper>
    <Mapper>
        <order>13</order>
        <name>Roman to Integer</name>
        <class>easy.RomanToInteger</class>
    </Mapper>
    <Mapper>
        <order>14</order>
        <name>Longest Common Prefix</name>
        <class>easy.LongestCommonPrefix</class>
    </Mapper>
    <Mapper>
        <order>15</order>
        <name>3Sum</name>
        <class>medium.FindThreeNumSumZero</class>
    </Mapper>
    <Mapper>
        <order>16</order>
        <name>3Sum Closest</name>
        <class>medium.ThreeNumClosest</class>
    </Mapper>
    <Mapper>
        <order>17</order>
        <name>Letter Combinations of a Phone Number</name>
        <class>LetterCombinPhoneNum</class>
    </Mapper>
    <Mapper>
        <order>18</order>
        <name>4Sum</name>
        <class>medium.FourSum</class>
    </Mapper>
    <Mapper>
        <order>19</order>
        <name>Remove Nth Node From End of List</name>
        <class>medium.RemoveEndNodeFromList</class>
    </Mapper>
    <Mapper>
        <order>20</order>
        <name>Valid Parentheses</name>
        <class>easy.ValidParentheses</class>
    </Mapper>
    <Mapper>
        <order>21</order>
        <name>Merge Two Sorted Lists</name>
        <class>easy.MergeTwoSortedLists</class>
    </Mapper>
    <Mapper>
        <order>22</order>
        <name>Generate Parentheses</name>
        <class>medium.GenerateParentheses</class>
    </Mapper>
    <Mapper>
        <order>23</order>
        <name>Merge k Sorted Lists</name>
        <class>hard.MergeSortedLists</class>
    </Mapper>
</Mappers>