<Mappers>
    <Mapper>
        <order>1</order>
        <name>Two Sum</name>
        <class>easy.TwoSum</class>
    </Mapper>
    <Mapper>
        <order>2</order>
        <name>Add Two Numbers</name>
        <class>medium.AddTwoNumbers</class>
    </Mapper>
    <Mapper>
        <order>3</order>
        <name>Longest Substring Without Repeating Characters</name>
        <class>LongestSubstring</class>
    </Mapper>
</Mappers>