<Mappers>
    <Mapper>
        <order>1</order>
        <name>Two Sum</name>
        <class>easy.TwoSum</class>
    </Mapper>
    <Mapper>
        <order>2</order>
        <name>Add Two Numbers</name>
        <class>medium.AddTwoNumbers</class>
    </Mapper>
    <Mapper>
        <order>3</order>
        <name>Longest Substring Without Repeating Characters</name>
        <class>medium.LongestSubstring</class>
    </Mapper>
    <Mapper>
        <order>4</order>
        <name>Median of Two Sorted Arrays</name>
        <class>hard.MedianTwoSortedArrays</class>
    </Mapper>
    <Mapper>
        <order>5</order>
        <name>Longest Palindromic Substring</name>
        <class>medium.LongestPalSubString</class>
    </Mapper>
    <Mapper>
        <order>6</order>
        <name>ZigZag Conversion</name>
        <class>medium.ZigZagConversion</class>
    </Mapper>
</Mappers>